.logo {
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

.container {
  width: 80%;
  margin: auto;
  padding: 1.3em;
  display: grid;
}

footer{
  padding-top: 5em;
}


.address {

  color: black;
}

.timings {
  color: black;
}

a, u {
  text-decoration: none;
  
  
}

 a:hover {
  color: rgb(255, 60, 0);
  
}
