<div>
  <div class="Story">
    <h1>Our Story</h1>
  </div>
  <div class="ourstoryimage">
    <div class="col-sm-12 ">
      <img class="items" src="../../assets/images/ourstory2.jpg" alt="Our Story" width="80%">
    </div>
    <div class="col-sm-12 ">
      <img class="items" src="../../assets/images/StoryText.JPG" alt="Our Story" width="80%">
    </div>
  </div>
  <div class="ourstorytext">
    <p>
      Off the hook is a family-owned restaurant in Chennai, TN. We use
      the best ingredients to make everything fresh daily and provide a great atmosphere.
      Visit us for breakfast and lunch all day, seven days a week! We strive to be the best
      we can be and everything we do is <a class="offthehook" routerLink="/"><b>Off the Hook.</b></a>
    </p>
  </div>
  <div>
    <h1 class="menustory"><a routerLink="/menu"> Back to our Menu? </a></h1>
  </div>
</div>
