
<div class = "contact">
    <div class="column">
        <div class="col-md-6 ">
            <h6 class="timings">
              <h3><i>Opening hours</i> <br> <br> </h3>
              Mon - Fri: 7am - 10pm <br> <br>

              Saturday: 8am - 11pm <br> <br>

              Sunday: 8am - 10pm
            </h6>


            <h6 class="address">
                <h3><i>Our Address</i> <br> <br> </h3>
                No:45/65, 4th Main Road,
                <br><br>
                Shastri Nagar, Adyar,
                <br><br>
                Chennai- 600090.
              </h6>

              <h6 class="Concerns">
                  <h3><i>Queries or Concerns?</i> <br> <br> </h3>
                  Please write to us!
                  <br><br><br>
                  You can reach out to us via Email at
                  <br><br>
                  <u>info@offthehook.com </u>
                  <br><br>
                  We promise to get back to you at the earliest.
                </h6>

          </div>
      <!--  <div class="col-md-6 ">
        <img class="items" src="../../assets/images/contacthours.JPG" alt="Our Timings" width="70%" height="45%">
      </div> -->
       <div class="col-md-6 ">
        <img class="items" src="../../assets/images/Contactpageimage.jpg" alt="The Menu" width="90%" height="80%">
      </div>

      </div>
      <div>
          <h1 class="menustory"><a routerLink="/menu"> Back to our Menu? </a></h1>
        </div>
      </div>

