<body>
  <div class="conti">
    <h1 class="menu"><a routerLink="/menu"> Our Menu </a></h1>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6 ">
        <img class="items" src="../../assets/images/Menu4.jpg" alt="Trifel Pudding" width="90%" height="45%">
      </div>

      <div class="col-md-6 ">
        <img class="items" src="../../assets/images/Menu2.jpg" alt="Rasberry Sorbet" width="90%" height="80%">
      </div>

      <div class="col-md-6 ">
        <img class="items" src="../../assets/images/Menu5.jpg" width="90%" height="70%">
      </div>

      <div class="col-md-6 ">
          <img class="items" src="../../assets/images/Menu3.jpg" alt="Cookies & Cream" width="90%" height="90%">
      </div>

      <div class="col-md-6 ">
          <img class="items" src="../../assets/images/Menu8.jpg" alt="Blueberry Cheesecake" width="90%" height="100%">
      </div>

      <div class="col-md-6 ">
          <img class="items" src="../../assets/images/Menu7.jpg" alt="Fruit Blossom" width="90%" height="100%">
      </div>

    </div>
  </div>
</body>
